# Backend
DATABASE_URL='postgresql://neondb_owner:npg_DOW8riEnRZ4N@ep-empty-truth-aq0wp83b-pooler.c-8.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'
JWT_SECRET=your-super-secret-jwt-key-change-in-productionJWT_SECRET=your-super-secret-jwt-key-change-in-production
SUPABASE_URL=https://agmwsgijgyicowqovfzm.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFnbXdzZ2lqZ3lpY293cW92ZnptIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MDYwODgwMywiZXhwIjoyMDk2MTg0ODAzfQ.xW518Q9CEj92iGuXgEVlQ_gaEqNKTnXqjKD3hiJAO0U


# Frontend
NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_SUPABASE_URL=https://agmwsgijgyicowqovfzm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_wkWG8LEqjMIGHa8quTKaWg_CTxBg-uM